* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.5s;
    font-family: inherit;
    font-size: 16px;
}

body {
    margin: 0;
    font-family:
        -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family:
        source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.dark-mode {
    background-color: #3b3a3a !important;
    color: white !important;
}

.light-mode {
    background-color: white;
}

.thead.dark-mode {
    background-color: #0d6efd !important;
    color: white !important;
}

.form-control:focus {
  box-shadow: none;
  border: var(--bs-border-width) solid var(--bs-border-color);
}
